
a.hamburger_icon {
  	float: right;
  	width: 7vw;
  	height: 4vh;
  	margin: 25px 13px 3px 8px;
  /*	vertical-align: bottom;*/
}

nav {
	display: none;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

.header {
	position: sticky;
	top: 0;
	background: white;
	overflow-y: auto;
	z-index: 1000;
}

footer {
	text-align: center;
}

@media screen and (max-width: 533px) {
	.header__logo {
		height: 13vw;
		margin: 10px -3px 7px 8px;
		max-height: 72px;
	}
	.header__title {
		font-size: 7.6vw;
		margin: 22px 0px 0px 8px;
	}
	footer > ul > li {
		font-size: 2.491vw;
	}
	.nav__list {
    	margin: 0;
    	padding: 0;
    	width: 40%;
    	background-color: #f1f1f1;
    	position: fixed;
    	height: 100%;
    	overflow: auto;
    	z-index: 10;
  	}
  	.nav__item {
  		width: 100%;
  		display: block;
  	}
  	.nav__item:hover {
  		background: green;
  	}
 }

@media screen and (min-width: 534px) {
	a.hamburger_icon {
		display: none;
	}
	nav {
		display: block;
	}
}

@media screen and (min-width: 550px) {
	.hero {
		order: 0;
		width: 60%;
	}
	.weather {
		order: 1;
		width: 40%;
	}
}

@media screen and (min-width: 650px) {
	.hero {
		order: 0;
		width: 50%;
	}
	.top-news {
		order: 1;
		width: 50%;
	}
	.scores {
		order: 2;
		width: 59%;
	}
	.weather {
		order: 3;
		width: 41%;
	}
}

@media screen and (min-width: 1000px) {
  .header__inner, .nav, main, .content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}